AI Job Helper/AI Job Helper.json
{
  "name": "AI Job Helper",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Job Assistant & Resume Optimizer",
        "formDescription": "Submit your resume and job details to automatically analyze job fit, improve your resume , generate a cover letter, and track your application progress using AI automation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name ",
              "placeholder": "Enter your full name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "placeholder": "Enter your email",
              "requiredField": true
            },
            {
              "fieldLabel": "Job Link",
              "placeholder": "Paste Linkedin / Company Job URL",
              "requiredField": true
            },
            {
              "fieldLabel": "Upload Resume",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf,.docx",
              "requiredField": true
            },
            {
              "fieldLabel": "Experience Level",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Student / fresher"
                  },
                  {
                    "option": "0 - 2 years"
                  },
                  {
                    "option": "2 - 5 years"
                  },
                  {
                    "option": "5+ years"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        -240,
        -144
      ],
      "id": "bc38312a-fa5a-4e39-aaae-a0a038552710",
      "name": "On form submission",
      "webhookId": "3e472d14-c72a-45bd-b0bf-6281d7f12f9b"
    },
    {
      "parameters": {
        "url": "={{ $json[\"Job Link\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        16
      ],
      "id": "70096fea-b31b-4ef4-82fa-755eac7e887a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const html = $json.data || \"\";\n\n// Remove HTML tags\nconst text = html\n  .replace(/<[^>]*>/g, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim();\n\n// Extract the main job description\nconst match = text.match(/Job Summary:(.*?)Similar jobs/i);\n\nconst cleaned = match\n  ? match[1].trim()\n  : text.substring(0, 8000);\n\nreturn [\n  {\n    json: {\n      cleaned_html: cleaned\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        16
      ],
      "id": "91dcd06c-8b1a-44d8-91c6-7e656164f86a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        496,
        -288
      ],
      "id": "49334bd3-30e4-4cd0-8c6e-fb0cfb358cc7",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        448,
        240
      ],
      "id": "5d6cbd4a-5cf5-4b3e-8477-3229ca1d28ee",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EbrPhEnMrHpSkfc2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n\"job title\": \"Frontend Engineer\",\n\n\"required_skills\": [\"HTML\", \"CSS\", \"React\"],\n\n\"company name\": \"IDFC First Bank\",\n\n\"responsibilities\": [\n\n\"Engage with the development team to identify technical roadblocks and recommend solutions\",\n\n\"Help shape the technology stack and architecture of new features and applications\",\n\n\"Identify, analyze and develop interfaces and integration flows\",\n\n\"Develop software modules, review code, gather requirements, fix bugs, test and document implementations\",\n\n\"Develop and deploy native code for customer-facing platforms\",\n\n\"Explain complex technical issues to stakeholders and recommend solutions\",\n\n\"Design system specifications, standards and programming solutions\",\n\n\"Troubleshoot issues and provide bug fixes\",\n\n\"Provide status updates and reporting metrics to leadership\",\n\n\"Mentor junior developers and support skill development\",\n\n\"Ensure efficient and effective delivery of business requirements\"\n],\n\n\"location\": \"Chennai, India\",\n\n\"experience_required\": {\n\n\"type\": [\"string\", \"null\"]\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        576,
        240
      ],
      "id": "7233630c-3ca1-424a-8889-d70c2a46b0b5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        784,
        -144
      ],
      "id": "11fb2efe-24be-4b2b-ad75-9053cb402156",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\n\"skill_gaps\": [\"string\"],\n\n\"resume_improvements\": [\"string\"],\n\n\"optimized_resume\": \"string\",\n\n\"match_score\": 0\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1168,
        64
      ],
      "id": "182bd37d-f99a-4ed1-a937-bd60a2305c57",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        992,
        96
      ],
      "id": "b0fdd9a0-fe35-4e14-8626-e726bb1b23e0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EbrPhEnMrHpSkfc2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        1360,
        64
      ],
      "id": "094f72e5-cbc7-4ede-b203-9dd46dfaa7e8",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "EbrPhEnMrHpSkfc2",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS resume optimizer.\n\nCompare the job requirements with the candidate's resume and provide structured optimization.\n\nJob Description:\n\nRequired Skills: {{ $json.output.required_skills }}\n\nResponsibilities: {{ $json.output.responsibilities }}\n\nExperience Required:{{ $json.output.experience_required }}\n\nCandidate Resume:\n\n{{ $json.text }}\n\nReturn ONLY valid JSON in this exact format:\n\n{\n\n\"skill gaps\": [\"skill1\", \"skill2\"],\n\n\"resume_improvements\": [\"improvement1\", \"improvement2\"],\n\n\"optimized_resume\": \"full optimized resume text here\",\n\n\"match_score\": 85\n\n}\n\nDo NOT add any markdown formatting or extra text.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        -144
      ],
      "id": "e32a679f-5ee7-4db8-b0e0-ebbd002e42a3",
      "name": "Resume Analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a professional cover letter in plain text format (no JSON).\n\nCandidate Name:{{ $('On form submission').item.json['Full Name '] }}\n\nEmail:{{ $('On form submission').item.json['Email Address'] }}\n\nJob Role:{{ $('JobDescription Analyzer').item.json.output['job title'] }}\n\nTarget Company:{{ $('JobDescription Analyzer').item.json.output['company name'] }}\n\nJob Description:{{ $('JobDescription Analyzer').item.json.output }}\n\nResume Analysis:{{ $json.output }}\n\nWrite a compelling, personalized cover letter that:\n\n1. Highlights relevant skills from the resume\n\n2. Addresses the specific job requirements\n\n3. Shows enthusiasm for the role\n\n4. Is concise (300-400 words)\n\n5. Uses professional tone\n\nReturn ONLY the cover letter text, no JSON wrapper.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1344,
        -144
      ],
      "id": "1fd60fdc-cb3c-4d59-86e2-134d3bc990a3",
      "name": "Cover Letter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a job description parser.\n\nExtract structured information from the provided job posting HTML and return ONLY valid JSON.\n\nExtract the following fields:\n\n- job_title (string or null)\n- company_name (string or null)\n- required_skills (array of strings)\n- responsibilities (array of strings)\n- experience_required (string or null)\n- location (string or null)\n\nRules:\n\n1. Return ONLY valid JSON. Do not include explanations, markdown, or any extra text.\n2. If a field is not clearly found, return null.\n3. The `required_skills` and `responsibilities` fields must always be arrays. Return an empty array (`[]`) if no values are found.\n4. Keep all extracted values short and clean. Do not copy large paragraphs.\n5. Extract only meaningful technical skills (e.g., Java, Spring Boot, SQL, Docker, AWS). Do not include generic soft skills such as \"team player\", \"communication\", \"hardworking\", or \"self-motivated\".\n6. Do not invent or guess any information.\n\nExample output:\n\n{\n  \"job_title\": \"Frontend Developer\",\n  \"company_name\": \"PayPal\",\n  \"required_skills\": [\n    \"JavaScript\",\n    \"React\",\n    \"HTML\",\n    \"CSS\"\n  ],\n  \"responsibilities\": [\n    \"Build user interfaces\",\n    \"Collaborate with backend teams\",\n    \"Optimize performance\"\n  ],\n  \"experience_required\": \"2+ years\",\n  \"location\": \"Chennai, India\"\n}\n\nJob HTML:\n{{ $json.cleaned_html }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        16
      ],
      "id": "849a8da2-e307-4ef6-9d02-9f2e215ba448",
      "name": "JobDescription Analyzer"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Email Address'] }}",
        "subject": "=Your AI Job Match Report :  {{ $('JobDescription Analyzer').item.json.output['job title'] || \"Job Application\" }}",
        "message": "=<div style=\"font-family: Arial, Helvetica, sans-serif; max-width: 700px; margin: auto; line-height: 1.6; color: #222;\">\n\n  <h2 style=\"margin-bottom:5px;\">🚀 AI Job Match Report</h2>\n\n  <p style=\"color:#555; margin-top:0;\">\n    Hi <strong>{{ $('On form submission').item.json['Full Name '] }}</strong>,\n  </p>\n\n  <p>\n    Your resume has been analyzed against the selected job description.\n    Here are the results:\n  </p>\n\n  <hr style=\"border:none; border-top:1px solid #ddd; margin:20px 0;\">\n\n  <h3>📌 Job Details</h3>\n\n  <p>\n    <strong>Job Title:</strong>\n    {{ $('JobDescription Analyzer').item.json.output['job title'] }}\n  </p>\n\n  <p>\n    <strong>Company:</strong>\n    {{ $('JobDescription Analyzer').item.json.output['company name'] }}\n  </p>\n\n  <p>\n    <strong>Location:</strong>\n    {{ $('JobDescription Analyzer').item.json.output.location }}\n  </p>\n\n  <p>\n    <strong>Match Score:</strong>\n    <span style=\"font-size:20px; font-weight:bold; color:#2c7be5;\">\n      {{ $('Resume Analysis').item.json.output.match_score }}%\n    </span>\n  </p>\n\n  <hr style=\"border:none; border-top:1px solid #ddd; margin:20px 0;\">\n\n  <h3>❌ Skill Gaps</h3>\n\n  <div style=\"background:#fff8f8; padding:15px; border-radius:8px;\">\n    {{ $('Resume Analysis').item.json.output.skill_gaps.join('<br>• ') }}\n  </div>\n\n  <hr style=\"border:none; border-top:1px solid #ddd; margin:20px 0;\">\n\n  <h3>✅ Resume Improvements</h3>\n\n  <div style=\"background:#f8fff8; padding:15px; border-radius:8px;\">\n    {{ $('Resume Analysis').item.json.output.resume_improvements.join('<br>• ') }}\n  </div>\n\n  <hr style=\"border:none; border-top:1px solid #ddd; margin:20px 0;\">\n\n  <h3>📝 Generated Cover Letter</h3>\n\n  <div style=\"background:#f8f9fb; padding:20px; border-radius:8px; white-space:pre-line;\">\n{{ $('Cover Letter').item.json.output }}\n  </div>\n\n  <hr style=\"border:none; border-top:1px solid #ddd; margin:25px 0;\">\n\n  \n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1920,
        -144
      ],
      "id": "673e4e86-7e05-46c3-a3f0-b1e9c6eed6d1",
      "name": "Send a message",
      "webhookId": "1510c274-95f7-4315-b633-e7310344c36b",
      "credentials": {
        "gmailOAuth2": {
          "id": "kHOjst6Fh7C2XVlQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1chdOx-8lMat8EGO-a4vQXqQDdPZroHXFF7Cx7kl5lOk",
          "mode": "list",
          "cachedResultName": "AI Job Application",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1chdOx-8lMat8EGO-a4vQXqQDdPZroHXFF7Cx7kl5lOk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1chdOx-8lMat8EGO-a4vQXqQDdPZroHXFF7Cx7kl5lOk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $('On form submission').item.json['Full Name '] }}",
            "Email": "={{ $('On form submission').item.json['Email Address'] }}",
            "Company": "={{ $('JobDescription Analyzer').item.json.output['company name'] }}",
            "Job Title": "={{ $('JobDescription Analyzer').item.json.output['job title'] }}",
            "Match Score": "={{ $('Resume Analysis').item.json.output.match_score }}",
            "Skill Gaps": "={{ $('Resume Analysis').item.json.output.skill_gaps }}",
            "Resume Improvements": "={{ $('Resume Analysis').item.json.output.resume_improvements }}",
            "Cover Letter": "={{ $json.output }}",
            "Date": "={{ $today }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Match Score",
              "displayName": "Match Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skill Gaps",
              "displayName": "Skill Gaps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resume Improvements",
              "displayName": "Resume Improvements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cover Letter",
              "displayName": "Cover Letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        -128
      ],
      "id": "e4a42c0a-d808-4a8b-a345-66da96e35f27",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x5zSj4AMSwQTCrtA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "# AI Job Helper \n",
        "height": 96,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -448
      ],
      "typeVersion": 1,
      "id": "444b2a53-cf35-4439-a38b-65fc12f775de",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Full Name ": "Jeswin Madona",
          "Email Address": "jeswin.madona.26@gmail.com",
          "Job Link": "https://jobs.lever.co/jumpcloud/53566bf5-5422-4842-9803-290dccf92418/",
          "Upload Resume": {
            "filename": "JeswinMadona-Resume.pdf",
            "mimetype": "application/pdf",
            "size": 206207
          },
          "Experience Level": "Student / fresher",
          "submittedAt": "2026-07-13T03:02:17.914-04:00",
          "formMode": "test"
        },
        "binary": {
          "Upload_Resume": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "JeswinMadona-Resume.pdf",
            "id": "filesystem-v2:workflows/ZmWEYsWnomjk5vFn/executions/temp/binary_data/09adc8e5-02e8-4442-a6a3-a89f899a892c",
            "fileSize": "206 kB",
            "bytes": 206207
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "JobDescription Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "JobDescription Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "JobDescription Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Resume Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Resume Analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Cover Letter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Analysis": {
      "main": [
        [
          {
            "node": "Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JobDescription Analyzer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cover Letter": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cb0a43e2-6149-4040-aff3-84a8e2c7da50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce633715522fed7c810c382a8416068af510eb5efa2a068770ce7966e289da03"
  },
  "nodeGroups": [],
  "id": "ZmWEYsWnomjk5vFn",
  "tags": []
}